:root {
    /*colors*/
    --color1: #cbdada;
    --color2: #fff;
    --color3: #353d3d;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    height: 70px;
    padding: 0;
}

#logo {
    margin-top: 20px;
    margin-left: 20px;
}

.siteTittle {
    height: 70px;
    font-family: "Rubik";
    font-size: 40px;
    display: inline-block;
}

#siteTittleSpan {
    padding-left: 10px;
}

.siteTittle:first-child {
    color: var(--color1);
}

.siteTittle:nth-child(2) {
    color: var(--color3);
}

.siteTittle:nth-child(3) {
    color: var(--color1);
}

.tittleSpan {
    display: inline-block;
    height: 70px;
}

.tittleSpan:nth-child() {
    display: inline-block;
}

section {
    width: 100%;
    min-height: 20px;
    height: 15vh;
    color: var(--color2);
    font-size: 22px;
    font-weight: 500;
}

section:nth-child(n) {
    display: flex;
    align-items: center;
}

.receivedData {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 32px;
    font-weight: 700;
    -webkit-text-stroke: 1px var(--color1);
    color: transparent;
    transition: 0.6s;
}

.receivedData:hover {
    -webkit-text-stroke: 1.05px var(--color1);
    color: var(--color1);
}

.dataIcon {
    min-height: 30px;
    height: 60px;
    margin-right: 20px;
}

#content {
    width: 100%;
}

#mainContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#weatherData {
    min-height: 100px;
    height: 75vh;
    width: 60%;
    margin-top: 50px;
    margin-left: 70px;
}

#aside {
    width: 430px;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    font-size: 90%;
    color: var(--color1);
    padding-bottom: 15px;
}

footer a {
    margin-left: 20px;
    color: var(--color1);
}

.backVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#wholeContent {
    width: 100%;
    height: 100%;
    position: relative;
}

@media (min-aspect-ratio: 16/9) {
    .backVideo {
        width: 100%;
        height: auto;
    }
}

#citySelect {
    background-color: transparent;
    border-width: 4px;
    border-color: var(--color1);
    height: 60px;
    width: 250px;
    border-style: solid;
    font-size: 20px;
    font-weight: 600;
    color: var(--color2);
    text-align: center;
}

#citySelect option {
    font-size: 15px;
    color: var(--color3);
}

#citySelect:hover {
    cursor: pointer;
}

#confirmCity {
    height: 60px;
    width: 150px;
    background-color: var(--color1);
    border-style: none;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color3);
    transition: 0.4s;
}

#confirmCity:hover {
    border-style: solid;
    border-width: 4px;
    border-color: var(--color3);
}

#findCity {
    display: block;
    width: 420px;
}

#chooseCity {
    font-size: 28px;
    color: var(--color1);
    width: 420px;
    display: block;
}

#arrow {
    margin-left: 90px;
}

#author {
    display: block;
    margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
    .dataIcon {
        height: 30px;
        margin-right: 5px;
    }

    #weatherData {
        min-height: 100px;
        height: 75vh;
        width: 60%;
        margin-top: 20px;
        margin-left: 10px;
    }

    section {
        height: 80px;
        font-size: 18px;
        font-weight: 500;
    }

    .receivedData {
        font-size: 20px;
        color: var(--color3);
        -webkit-text-stroke: unset;
    }

    .siteTittle {
        font-size: 25px;
    }

    #header {
        height: 35px;
        padding-bottom: 20px;
    }

    #confirmCity {
        font-size: 15px;
        height: 50px;
        width: 100px;
    }

    #chooseCity {
        font-size: 20px;
    }

    #citySelect {
        font-size: 15px;
        height: 50px;
        width: 130px;
    }

    #arrow {
        height: 40px;
        margin-left: 40px;
    }

    #aside {
        width: 250px;
    }

    #logo {
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 640px) {

    #weatherData {
        height: 300px;
    }

    section {
        height: 60px;
    }

    #aside {
        height: 200px;
        margin-left: 10px;

    }

    #mainContent {
        display: block;
    }

    footer {
        height: 30px;
        bottom: 0;
        padding-bottom: 25px;
    }

    footer a {
        margin-left: 10px;

    }

}